
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
    @apply bg-[#FAFAFA] text-[#616161] min-h-[100dvh] overflow-x-hidden;
  }
  
  #root {
    @apply h-full;
  }
}

@layer components {
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
